.container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  app-projects-slider {
    flex: 0 0 30%;
  }

  app-project-preview {
    width: 100%;
  }
}
