<div class="project" #project>
  <div class="project__header">
    <div class="project__meta">
      <h1 class="project__title label" title="Title">{{ selectedProject.title }}</h1>
      <div class="project__links label" title="Links">
        <a appTooltip tooltipText="Github profile" class="project__link" [href]="selectedProject.github" target="_blank">
          <fa-icon [icon]="iconsService.getIcon('github')"></fa-icon>
        </a>
        <a appTooltip tooltipText="See live" class="project__link" [href]="selectedProject.live" target="_blank">
          <fa-icon [icon]="iconsService.getIcon('seeIt')"></fa-icon>
        </a>
      </div>
    </div>
    <div class="project__preview label"
         title="Preview"
         [style.background-image]="'url('+selectedProject.imgPath+')'"></div>
  </div>
  <div class="project__description label" title="Description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at laudantium provident rem. Aliquid dolorem enim, est et, eum expedita fugit modi nam nesciunt pariatur quam reiciendis temporibus totam voluptas.
  </div>
  <div class="project__tech label" title="Tech stack">
    <span *ngFor="let tech of selectedProject.tech" appTooltip [tooltipText]="tooltipMap[tech]">
      <fa-icon
         [icon]="iconsService.getIcon(tech)"></fa-icon>
    </span>
  </div>
</div>
