<div class="navbar">
  <div class="navbar__wrapper">
    <span class="navbar__brand"><a routerLink="/home">@Ghostwriter</a></span>
    <span
      (click)="onToggleMenu()"
      class="navbar__toggle">
      <fa-icon [icon]="isMenuActive ? iconsService.getIcon('times') : iconsService.getIcon('bars')"></fa-icon>
    </span>
    <ul
      [ngClass]="{ 'active': isMenuActive }"
      class="navbar__menu">
      <li
        *ngFor="let item of menuItems"
        class="navbar__menu-item">
        <a
          class="navbar__menu-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="isMenuActive = false; toggleMenu$.next(false)"
          [routerLink]="item.path">
          {{ item.title }}
        </a>
      </li>
      <label
        *ngIf="themeService.themeLoaded$ | async as theme"
        class="navbar__theme-toggle" for="theme-toggle">
        <input type="checkbox" id="theme-toggle" [checked]="theme === 'light'">
        <fa-icon (click)="onToggleTheme()" [icon]="iconsService.getIcon('sun')"></fa-icon>
        <span (click)="onToggleTheme()"></span>
      </label>
    </ul>
  </div>
</div>
