.slider {
  display: flex;
  overflow-x: hidden;
  background-color: var(--bg-secondary);

  &__slide {
    min-width: 100%;
    height: 250px;
    margin-inline: 5px;
    background-color: var(--bg-secondary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
    cursor: pointer;
    transition: transform 0.1s ease;

    &:hover {
      background-color: var(--color-accent);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
  }

  &__title {
    background-color: var(--bg-primary);
    opacity: .8;
    padding: 0.5rem 1.5rem;
    display: inline-block;
  }

  &__index {
    background-color: var(--color-accent);
    padding: .5rem;
  }
}

@media screen and (min-width: 800px) {
  .slider {
    flex-direction: column;
    max-height: calc(3 * (195px + 2 * 10px));
    overflow: hidden;

    &__slide {
      min-height: 190px;
      min-width: initial;
      margin-block: 10px;
    }
  }
}
