<app-modal title="Calisthenics">
  <p>I like calisthenics. I love the simplicity of training in this way. I often combine my workout with being in the
    nature, doing sprints on the lonely forest roads or pullups on the branches (although it takes some time to find
    these horizontal branches of appropiate diameters).</p>
  <p>Being exposed, free in a vast open area <b>helps me think</b> and I often come back home with some <b>game-changing
    ideas</b>. For instance, the idea to use a memory game to introduce myself was a result of such an act.</p>
</app-modal>
