:host {
  flex-basis: calc(33.33% - 10px);
  margin: 5px;
}

.card {
  min-height: 100px;
  box-sizing: border-box;
  perspective: 1000px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-secondary);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px dashed var(--text-primary);
    outline-offset: -14px;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &:hover {
      background-color: var(--color-accent);
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      inset: 0;
      outline: 2px dashed var(--text-primary);
      outline-offset: -10px;
    }

    fa-icon {
      color: var(--text-primary);
      font-size: min(6vw, 4rem);
    }
  }
}

@media screen and (min-width: 600px) {
  :host {
    flex-basis: calc(25% - 10px);
  }
  .card {
    margin: 5px;
  }
}

.wrong {
  animation: wrong 1s ease-in-out;
}

.success {
  animation: success 1s ease-in-out;
}

@keyframes wrong {
  0%,
  100% {
    -webkit-transform: translateX(0%) rotateY(180deg);
    transform: translateX(0%) rotateY(180deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
  }
  15% {
    -webkit-transform: translateX(-30px) rotateY(180deg) rotateX(-6deg);
    background-color: #a52727;
    opacity: 0.4;
    transform: translateX(-30px) rotateY(180deg) rotateX(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotateY(180deg) rotateX(6deg);
    opacity: 0.7;
    transform: translateX(15px) rotateY(180deg) rotateX(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotateY(180deg) rotateX(-3.6deg);
    opacity: 0.4;
    transform: translateX(-15px) rotateY(180deg) rotateX(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotateY(180deg) rotateX(2.4deg);
    opacity: 0.7;
    transform: translateX(9px) rotateY(180deg) rotateX(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotateY(180deg) rotateX(-1.2deg);
    opacity: 0.4;
    transform: translateX(-6px) rotateY(180deg) rotateX(-1.2deg);
  }
}

@keyframes success {
  0% {
    transform: scale3d(1, 1, 1) rotateY(180deg);
    background-color: #2f5e2f;
    opacity: 1;
  }
  30% {
    transform: scale3d(1.25, 0.75, 1) rotateY(180deg);
    opacity: .5;
  }
  40% {
    transform: scale3d(0.75, 1.25, 1) rotateY(180deg);
    opacity: .7;
  }
  50% {
    transform: scale3d(1.15, 0.85, 1) rotateY(180deg);
    opacity: .5;
  }
  65% {
    transform: scale3d(0.95, 1.05, 1) rotateY(180deg);
    opacity: .7;
  }
  75% {
    transform: scale3d(1.05, 0.95, 1) rotateY(180deg);
    opacity: .5;
  }
  100% {
    transform: scale3d(1, 1, 1) rotateY(180deg);
    opacity: 1;
  }
}


